<div class="span12">

<div class="event">
<%= link_to("Edit", edit_event_path(@event) , :class => "btn btn-primary" ) %>
</div>
<h2> <%= @event.title %> </h2>

<p> <%= @event.description %> </p>

<p> <%= @event.start_time %> </p>

</div>