/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";


@import "zen";
@import "zen/background";

@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";

@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Orienta);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

$bg-url: image-url('bg/zigzag.png');
$bg2-url: image-url('bg/ticks.png');

body {
    font-family: 'Titillium Web', sans-serif;
    @include user-select(none);
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

table.ourscal {
    width: 100%;
    opacity: 1;
}

table.ourscal th {
    padding-bottom: 10px;
    font-size: 16px;
}

table.ourscal td {
    width: 14.28%;
    opacity: 0;
}

table.ourscal td > div {
    padding: 12px;
    margin: 3px;
    background-color: #eeeeee;
    @include border-radius(8px);
    border: 2px solid #fff;
    cursor: pointer;
}

table.ourscal td > div:hover {
    background-color: white;
    border: 2px solid #eee;

}

table.ourscal .day > div {
    width: 34px;
    height: 34px;
}

table.ourscal .day.today > div {
    border: 2px solid #ccc;
    background-color: #fff;
}
table.ourscal .day.not-current-month > div {
    background: #fff;
    color: #ddd;
}

table.ourscal th:first-child {
    color: red;
}

table.ourscal th:last-child {
    color: green;
}

.container {
    $zen-column-count: 4;
    $zen-gutter-width: 0;
    @include zen-grid-container;

    width: 100%;
    margin: 0 auto;
}

.container h1 {
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    color: gold;
}

.container small {
    display: block;
    margin-top: 1px;
    font-size: 11px;
    font-family: 'Orienta', sans-serif;
}

.aside0 {
    @include zen-grid-item(3, 2);

    background-color: #333;
    background-image: url($bg-url);
    min-height: 30px;
    color: #ddd;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 10px;
}

.aside1 {
    @include zen-grid-item(1, 4);

    background-color: #eee;
    background-image: url($bg2-url);

    min-height: 720px;
}

@media (max-width: 979px) and (orientation : portrait) {
    .aside1 {
        min-height: 510px;
    }
}

@media (max-width: 979px) and (orientation : landscape) {
    .aside1 {
        min-height: 510px;
    }
}

.aside1 h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.content {
    @include zen-clear();
    @include zen-grid-item(2,2);

    min-height: 200px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    overflow: auto;

}

$aside2-height: 20%;
$aside3-height: 81%;

.aside2 {
    @include zen-clear();
    @include zen-grid-item(1, 1);

    position: fixed;
    bottom: $aside3-height;
    color: #ddd;
    background-color: #333;
    background-image: url($bg-url);
    min-height: $aside2-height;
    max-height: $aside2-height;

    z-index: 90;
}

.aside2 h2, .aside3 h2 {
    font-size: 26px;
    margin-top: 7px;
    padding-left: 20px;
    color: #666;
    text-shadow: 0px 1px 1px #4d4d4d;
    white-space: nowrap;
}

.aside2 h3, .aside3 h3 {
    text-align: center;
}

.aside3 {
    @include zen-grid-item(1, 1);

    position: fixed;
    bottom: 0;
    color: #ddd;
    background-color: #333;
    background-image: url($bg-url);
    min-height: $aside3-height;
    max-height: $aside3-height;

    z-index: 90;
}

.aside4 {
    @include zen-grid-item(1, 4);

    background-color: #eee;
    background-image: url($bg2-url);

    min-height: 720px;
}

.aside4 h2 {
    padding-left: 10px;
}

footer {
    background-color: #333;
    min-height: 100px;
    max-height: 100px;
    background-image: url($bg-url);
}

.footer1 {
    @include zen-clear();
    @include zen-grid-item(1, 4);
    position: fixed;
    bottom: 0;
    padding-top: 8px;
}

.footer2 {
    @include zen-clear();
    @include zen-grid-item(1, 2);
    width: 51%;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
}

.footer2 > p {
    text-align: center;
    color: #aaa;
    margin-bottom: 0;
    font-size: 13px;
}

.calendar th:nth-child(1) {
    color: red;
}

.calendar th:nth-child(7) {
    color: green;
}

.cal-box {
    min-height: 430px;
}

.cal-box td > div {
    font-size: 18px;
    color: #bbb;
    font-family: 'Fjalla One', sans-serif;
}

.cal-nav {
    @include user-select(none);
}

.personal-circle {
    @include zen-grid-item(1, 1);

    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ededed;
    @include border-radius(99em);
    border: 5px solid #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

}



#personal-work {
    margin-top: -16px;
}

#helveti-list {

    h2 {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
    }

    li:last-child {
        border: none;
    }

    li a {
        text-align: right;
        text-decoration: none;
        color: #000;
        display: block;
        padding-right: 10px;
    }

    li .work-circle {
        margin-top: 10px;
    }

    li a:hover {
        font-size: 30px;
        color: #333;
        white-space: nowrap;
        background: rgba(0,0,0,.3);
        margin-top: -35px;
        line-height: 30px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        @include text-shadow(0 0 2px #222);
        .work-circle {
            width: 72px;
            height: 72px;
        }
    }

    .work-circle {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-left: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ededed;
        @include border-radius(99em);
        border: 3px solid #fff;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }


}

.chatbox {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100%;

    .info-bar {
        display: none;
    }

    .chat-circle {
        display: inline-block;
        left: 0;
        margin-top: -35px;
        position: absolute;
        width: 42px;
        height: 42px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ededed;
        @include border-radius(99em);
        border: 3px solid #fff;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }

    .msg {
        @include user-select(text);
        margin-left: 32px;
    }

    .alert-chat {
        margin: 0;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: rgba(255,255,255,.1);
        color: #999;
        border: 0;
        height: 100%;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

        text-shadow: none;
    }

    .alert-chat:first-child {

        .chat-circle {
            z-index: 9999;
            width: 72px;
            height: 72px;
        }

        .msg {
            @include user-select(text);
            margin-left: 62px;
        }

        .info-bar {
            display: block;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            margin-top: 5px;
            margin-left: -15px;
            margin-right: -36px;
            padding-left: 72px;
            color: #eee;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .alert-chat:hover {
        height: auto;

        .chat-circle {
            z-index: 9999;
            width: 72px;
            height: 72px;
        }

        .msg {
            @include user-select(text);
            margin-left: 62px;
        }

        .info-bar {
            display: block;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            margin-top: 5px;
            margin-left: -15px;
            margin-right: -36px;
            padding-left: 72px;
            color: #eee;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
        }
    }

}






/* Large desktop */
@media (min-width: 1200px) {
    .aside1 {
        min-height: 3600px;
    }

    table.ourscal .day > div {
        width: 62px;
        height: 62px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    body {
        overflow-y: auto;
    }

    .aside1 {
        @include zen-clear();
        @include zen-grid-item(3, 2);
    }

    .content {
        @include zen-clear();
        @include zen-grid-item(3, 2);
    }

    .aside2 {
        position: fixed;
        bottom: $aside3-height;
    }

    .aside2 h2, .aside2 h3 {
        font-size: 20px;
    }

    .aside3 {
        position: fixed;
        bottom: 0;
    }

    footer {
        z-index: 20;
    }

    .footer1 {
        position: fixed;
        bottom: 0;
        padding-top: 0;
    }

    .footer2 {
        position: fixed;
        bottom: 0;
    }

    #personal-work {
        @include zen-grid-item(2, 1);
    }

    #helveti-list {
        @include zen-grid-item(2, 3);
    }

    table.ourscal .day > div {
        width: 46px;
        height: 46px;
    }

}

ul.project-status {
    list-style-type: none;
    margin-left: 24px;
    margin-right: 24px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    body {
        overflow-y: auto;
    }

    .container {
        $zen-column-count: 1;
        $zen-gutter-width: 10px;
        @include zen-grid-container;

        width: 100%;
        margin: 0 auto;
    }

    .aside0 {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .aside1 {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .content {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .aside2 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        position: relative;
        bottom: auto;

        max-height: 400px;
    }

    .aside3 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        position: relative;
        bottom: auto;

        max-height: 400px;
    }


    footer {
        background-color: #333;
        padding-top: 0;
        z-index: 20;
    }

    .footer1 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        position: relative;
        bottom: auto;
        padding-top: 0;
    }

    .footer2 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        display: none;
    }

    table.ourscal .day > div {
        width: 68px;
        height: 68px;
    }

    .chatbox {
        max-height: 300px;
    }

}

/* Landscape phones and down */
@media (max-width: 480px) {

    .aside1 {
        min-height: 590px;
    }

    .cal-box {
        min-height: 340px;
    }

    table.ourscal td > div {
        padding: 7px;
        margin: 2px;
    }

    .aside2 {
        margin-bottom: 0;
    }

    table.ourscal .day > div {
        width: 28px;
        height: 28px;
    }

    .chatbox {
        max-height: 400px;
        overflow-y: auto;
    }

}

@media (max-width: 480px) and (orientation: landscape) {
    .aside1 {
        min-height: 480px;
    }
}