/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

@import "compass/css3";
@import "zen";

@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Orienta);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

$bg-url: image-url('/assets/bg/zigzag.png');
$bg2-url: image-url('/assets/bg/ticks.png');
$bg3-url: image-url('/assets/bg/noisy_grid.png');

body {
    font-family: 'Titillium Web', sans-serif;
    @include user-select(none);

    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.ourscal-nav {
    text-align: center;
}

table.ourscal {
    width: 100%;
}

table.ourscal th {
    padding-bottom: 10px;
    font-size: 16px;
}

table.ourscal td {
    width: 14.28%;
    opacity: 0;
}

table.ourscal td > div {
    padding: 12px;
    margin: 3px;
    background-color: #eeeeee;
    @include border-radius(8px);
    border: 2px solid #fff;
    cursor: pointer;
}

table.ourscal td > div:hover {
    border: 2px solid #eee;

}

table.ourscal .day > div {
    width: 34px;
    height: 34px;
}

table.ourscal .day.today > div {
    border: 2px solid #ccc;
    background-color: #fff;
}
table.ourscal .day.not-current-month > div {
    background: #fff;
    color: #ddd;
}

table.ourscal th:first-child {
    color: red;
}

table.ourscal th:last-child {
    color: green;
}

table.ourscal td.day .day_number {
    font-size: 18px;
}

table.ourscal td.day > div > div:not(.day_number) {
    display: inline-block;
    font-size: 12px;
    color: #3399ff;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.container {
    $zen-column-count: 4;
    $zen-gutter-width: 0;
    @include zen-grid-container;

    width: 100%;
    margin: 0 auto;
}

.container h1 {
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    color: gold;
}

.container small {
    display: block;
    margin-top: 1px;
    font-size: 11px;
    font-family: 'Orienta', sans-serif;
}

.aside0 {
    display: none;

    @include zen-grid-item(3, 2);

    background-color: #333;
    background-image: $bg-url;
    min-height: 30px;
    color: #ddd;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 10px;
}

.aside1 {
    @include zen-grid-item(1, 4);

    background-color: #eee;
    background-image: $bg2-url;

    min-height: 720px;

    box-shadow: rgba(74, 74, 74, 0.25) 0 0 5px 0;
}

@media screen and (max-width: 979px) and (orientation : portrait) {
    .aside1 {
        min-height: 510px;
    }
}

@media screen and (max-width: 979px) and (orientation : landscape) {
    .aside1 {
        min-height: 510px;
    }
}

.aside1 h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.content {
    @include zen-clear();
    @include zen-grid-item(2,2);

    min-height: 200px;
    padding-top: 5px;

}

$aside2-height: 20%;
$aside3-height: 81%;

.aside2 {
    @include zen-clear();
    @include zen-grid-item(1, 1);

    position: fixed;
    bottom: $aside3-height;
    color: #ddd;
    background-color: #333;
    background-image: $bg-url;
    min-height: $aside2-height;
    max-height: $aside2-height;

    z-index: 90;
}

.aside2 h2, .aside3 h2 {
    font-size: 24px;
    margin-top: 7px;
    padding-left: 20px;
    color: #666;
    text-shadow: 0px 1px 1px #4d4d4d;
    white-space: nowrap;
}

.aside2 h3, .aside3 h3 {
    text-align: center;
}

.aside3 {
    @include zen-grid-item(1, 1);

    position: fixed;
    bottom: 0;
    color: #ddd;
    background-color: #333;
    background-image: $bg-url;
    min-height: $aside3-height;
    max-height: $aside3-height;

    z-index: 90;
}

.sidebar, .sidebar-pop {
    @include zen-grid-item(1, 4);

    background-color: #eee;
    background-image: $bg3-url;

    min-height: 720px;

    display: none;

    box-shadow: rgba(74, 74, 74, 0.25) 0 0 5px 0;
}

@media screen and (max-width: 979px) and (orientation : portrait) {
    .sidebar, .sidebar-pop  {
        min-height: 200px;
    }
}

@media screen and (max-width: 979px) and (orientation : landscape) {
    .sidebar, .sidebar-pop {
        min-height: 200px;
    }
}

.sidebar .side-header {
    padding-right: 10px;
    float: right;
}

.sidebar h2 {
    padding-left: 10px;
}

.sidebar-pop-content h2 {
    margin-left: 10px;
}

.sidebar-pop-content .input {
    margin-left: 12px;
    margin-right: 12px;
}

#close-sidebar-pop {
    margin-top: 5px;
    margin-right: 5px;
}

footer {
    background-color: #333;
    min-height: 100px;
    max-height: 100px;
    background-image: $bg-url;
}

.footer1 {
    @include zen-clear();
    @include zen-grid-item(1, 4);
    position: fixed;
    bottom: 0;
    padding-top: 8px;
}

.footer2 {
    @include zen-clear();
    @include zen-grid-item(1, 2);
    width: 51%;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
}

.footer2 > p {
    text-align: center;
    color: #aaa;
    margin-bottom: 0;
    font-size: 13px;
}

.calendar th:nth-child(1) {
    color: red;
}

.calendar th:nth-child(7) {
    color: green;
}

.cal-box {
    overflow-x: auto;
    min-height: 430px;
}

.cal-box td > div {
    font-size: 18px;
    color: #bbb;
    font-family: 'Fjalla One', sans-serif;
}

.cal-cell {
    display: block;
    width: 100%;
    height: 100%;
}

.cal-nav {
    @include user-select(none);
}

.personal-circle {
    @include zen-grid-item(1, 1);

    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ededed;
    @include border-radius(99em);
    border: 5px solid #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

}

#whomai {
    margin-top: 16px;
}

#helveti-list {

    h2 {
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
    }

    li:last-child {
        border: none;
    }

    li a {
        text-align: right;
        text-decoration: none;
        color: #000;
        display: block;
        padding-right: 10px;
    }

    li .work-circle {
        margin-top: 10px;
    }

    li a:hover {
        font-size: 30px;
        color: #333;
        white-space: nowrap;
        background: rgba(0,0,0,.3);
        margin-top: -35px;
        line-height: 30px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
        @include text-shadow(0 0 2px #222);
        .work-circle {
            width: 72px;
            height: 72px;
        }
    }

    .work-circle {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-left: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ededed;
        @include border-radius(99em);
        border: 3px solid #fff;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }


}

.chatbox {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100%;

    .info-bar {
        display: none;
    }

    .chat-circle {
        display: inline-block;
        left: 0;
        margin-top: -35px;
        position: absolute;
        width: 42px;
        height: 42px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ededed;
        @include border-radius(99em);
        border: 3px solid #fff;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }

    .msg {
        @include user-select(text);
        margin-left: 32px;
        white-space: nowrap;
    }

    .alert-chat {
        margin: 0;
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: rgba(255,255,255,.1);
        color: #999;
        border: 0;
        height: 100%;
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

        text-shadow: none;

        display: none;
    }

    .alert-chat:first-child {
        cursor: pointer;
        display: block;

        .chat-circle {
            z-index: 9999;
            width: 72px;
            height: 72px;
        }

        .msg {
            @include user-select(text);
            margin-left: 62px;
        }

        .info-bar {
            display: block;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            margin-top: 5px;
            margin-left: -15px;
            margin-right: -36px;
            padding-left: 72px;
            color: #eee;
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            white-space: nowrap;
        }
    }

    .alert-chat:hover {
        height: auto;

        .chat-circle {
            z-index: 9999;
            width: 72px;
            height: 72px;
        }

        .msg {
            @include user-select(text);
            margin-left: 62px;
        }

        .info-bar {
            display: block;
            height: 20px;
            background-color: rgba(0,0,0,.2);
            margin-top: 5px;
            margin-left: -15px;
            margin-right: -36px;
            padding-left: 72px;
            color: #eee;
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            white-space: nowrap;
        }
    }

    @media (min-width: 1200px) {
        .alert-chat {
            min-width: 245px;
        }
    }

    @media (max-width: 767px) {
        .alert-chat {
            min-width: 235px;
        }
    }

}

.links a {
    color: #999;
    padding: 3px;
}

.links a:hover {
    color: #333;
}

.form-actions {
    background-color: rgba(255,255,255,.35)
}


/* Large desktop */
@media screen and (min-width: 1200px) {
    .aside1 {
        min-height: 820px;
    }

    .sidebar, .sidebar-pop {
        min-height: 820px;
    }

    table.ourscal .day > div {
        width: 62px;
        height: 62px;
    }
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {

    body {
        overflow: auto;
    }

    .aside1 {
        @include zen-clear();
        @include zen-grid-item(3, 2);
    }

    .sidebar, .sidebar-pop {
        @include zen-clear();
        @include zen-grid-item(3, 2);
        min-height: 320px;
        display: none;
        padding-bottom: 100px;
    }

    .content {
        @include zen-clear();
        @include zen-grid-item(3, 2);
    }

    .aside2 {
        position: fixed;
        bottom: $aside3-height;
    }

    .aside2 h2, .aside2 h3 {
        font-size: 18px;
    }

    .aside3 {
        position: fixed;
        bottom: 0;
    }

    footer {
        z-index: 20;
    }

    .footer1 {
        position: fixed;
        bottom: 0;
        padding-top: 0;
    }

    .footer2 {
        position: fixed;
        bottom: 0;
    }

    #personal-work {
        @include zen-grid-item(2, 1);
    }

    #helveti-list {
        @include zen-grid-item(2, 3);
    }

    table.ourscal .day > div {
        width: 46px;
        height: 46px;
    }

}

ul.project-status {
    list-style-type: none;
    margin-left: 24px;
    margin-right: 24px;
}

#pdca-btns {
    margin-left: 10px;
    margin-right: 10px;
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {

    body {
        overflow: auto;

    }

    .container {
        $zen-column-count: 1;
        $zen-gutter-width: 10px;
        @include zen-grid-container;

        width: 100%;
        margin: 0 auto;
    }
    .sidebar, .sidebar-pop {
        display: none;
    }

    .aside0 {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .aside1 {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .sidebar, .sidebar-pop {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .content {
        @include zen-clear();
        @include zen-grid-item(1, 1);
    }

    .aside2 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        position: relative;
        bottom: auto;

        max-height: 400px;
    }

    .aside3 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        position: relative;
        bottom: auto;

        min-height: 400px;
    }


    footer {
        background-color: #333;
        padding-top: 0;
        z-index: 20;
    }

    .footer1 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        position: relative;
        bottom: auto;
        padding-top: 0;
    }

    .footer2 {
        @include zen-clear();
        @include zen-grid-item(1, 1);

        display: none;
    }

    table.ourscal .day > div {
        width: 68px;
        height: 68px;
    }


}

/* Landscape phones and down */
@media screen and (max-width: 480px) {

    .aside1 {
        min-height: 590px;
    }

    .sidebar, .sidebar-pop {
        min-height: 100px;
    }

    .cal-box {
        min-height: 340px;
    }

    table.ourscal td > div {
        padding: 7px;
        margin: 2px;
    }

    .aside2 {
        margin-bottom: 0;
    }

    table.ourscal .day > div {
        width: 28px;
        height: 28px;
    }


}

@media screen and (max-width: 480px) and (orientation: landscape) {
    .aside1 {
        min-height: 480px;
    }

    .sidebar, .sidebar-pop {
        min-height: 100px;
    }
}